html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #85FFBD 50%, #21D4FD 50%);
  /* background-color: #21D4FD; */
/* background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%); */

  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.main-title{
  font-size: 50px;
  text-align: left;
  position: absolute;
  left: 10%;
  /* margin-left: -150px; */
}


#myDiv{
  /* display: grid; */
  width: 80%;
  padding: 40px;
  border: 2px solid blue;
  border-radius: 10px;
  margin: 10px;
  align: center;
  position: relative;
  left: 80px;
}
#myDiv p{
  margin: 5px 150px 75px 150px;
  align: center;
}

#img{
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 5px 10px 10px 10px;
  height: 90px;
  width: 200;
  padding: 10px;
  flex: 0 0;
}
.card-title{
  /* text-align: center; */
  padding: 0;
  margin: 10;
  flex: 1 0;
  font-size: 30px;
}

/* navbar style starts here */
.navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: #3366ff;

}
.navbar a {
  display: flex;
  float: right;
  padding: 25px;
  color: white;
  text-decoration-color:
  font-size: 17px;
}

.navbar a:hover {
  background-color: #0080FF;
}


.active {
  background-color: #ff6633;
}
.donation-box{
  margin-left: 50%;
}

.donation-box a{
  font-weight: bold;
}

/* navbar style ends here */


/* Carousel */
/* .carousel{
  animation:fade 2s infinite;
} */
/* .legend{
  border: 1px solid #ddd;
} */
/* end of carousel */



/* login & signup */
.form-inline {
  /* display: flex; */
  flex-flow: row wrap;
  align-items: center;
}
.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}
#label {
  margin: 5px 10px 5px 0;
  padding: 12px;
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
}
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* end login & signup */

/* fiters */
.filter{
  margin: 30px 300px;
}
.city{
  padding: 15px;
}
.country{
  padding: 15px;
}
.welcome{
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 35px;
  font-weight: bold;
  color: blue;
} 

/* chatbot styling  */

.icon-bar{
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0%;
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}
.icon-bar button:hover {
  background-color: #ff6633;
}


#text{
  font-size: 20px;
  color: blue;
}
